* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
* {
  font-family: AvenirNext-Regular;
}
a {
  color: #000;
  transition: color 0.15s ease;
  font-size: 16.4px;
  text-decoration: none;
  line-height: inherit;
}
a:hover {
  text-decoration: none;
  color: #f55e00;
}
img {
  vertical-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
  letter-spacing: 1.5px;
}
h1 {
  font-size: 34px;
}

/* Header */

.header__wrapper {
  height: 100px;
  line-height: 100px;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.header__logo {
  height: 100%;
  width: 18%;
}
.header__logo img {
  width: 100%;
}
.menu {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  justify-content: space-around;
  width: 40%;
  height: 100%;
  margin: 0;
}
.menu__item {
  height: 100%;
}
.menu__item a:hover {
  color: #f55e00;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  width: 10%;
}

.nav i {
  padding-top: 30px;
}

.nav i:hover {
  color: #f55e00;
}
.input--group {
  padding: 5px;
  text-align: center;
}

.form--signup,
.form--input,
.btn--login {
  padding: 7px;
}
.btn--login {
  border: none;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  background-color: #282c34;
  box-shadow: 0 0 3px 1px #282c34;
  color: #fff;
  font-weight: 900;
}

.table th {
  max-width: 200px;
  text-align: center;
}

.chat-container{
  position: absolute;
  height: 500px;
  top: 50%;

}
.chat {
  position: fixed;
  top: 80%;
  right: 0;
  z-index: 2;
  cursor: pointer;
}

.chat img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid lightgrey;
}
.chat--text{
  position: fixed;
  top: 60%;
  right: 0;
  z-index: 2;
  text-align: center;  
}

.reviews {
  background: linear-gradient(
    rgba(223, 218, 218, 0.5),
    rgba(218, 209, 209, 0.5)
  );
  width: 100%;
}

.review-title {
  font-size: 30px;
  text-align: center;
}

.review-title i {
  color: gold;
  padding: 3px;
}

.user-wrapper {
  display: grid;
  margin-top: 30px;
  grid-gap: 30px;
}

.user {
  display: flex;
}

.user2 {
  display: flex;
  grid-column: 2;
}

.user3 {
  display: flex;
  grid-column: 1;
}

.user4 {
  display: flex;
  grid-column: 2;
}

.user-photo {
  width: 200px;
}

.user-photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.user-info {
  font-size: 14px;
  font-weight: bold;
}

.user-review {
  margin-top: 60px;
  text-align: left;
  width: 400px;
}

.user-review i {
  color: gold;
  padding: 2px;
}
.categories__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.categories {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 340px;
  list-style-type: none;
  text-align: center;
}
/* hover menu on explore */
.dropdown__content {
  position: absolute;
  top: 100px;
  left: 0;
  background-color: white;
  z-index: 1;
  height: 300px;
}

.categories--item img {
  width: 250px;
  height: 250px;
  padding: 20px;
}
.categories--title {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.8px;
  margin-top: 10px;
}

/* items */
.items__container {
  display: flex;
  flex-direction: column;
}
.category__header {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  line-height: 200px;
  float: left;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.headphones_header {
  background-image: url(https://cdn11.bigcommerce.com/s-r69yc54oxa/images/stencil/1280x1280/p/category-back2__61264.original.jpg);
}
.phones__header {
  background-image: url(https://www.apple.com/v/home/dz/images/heroes/iphone-xr/iphone_xr_5e40f_large.jpg);
}
.laptops__header {
  background-image: url(https://ispace.ge/api/files/pages/MacBook-Cover.jpg);
}
.cameras__header {
  background-image: url(https://pisces.bbystatic.com/image2/BestBuy_US/Gallery/vpt-lv-sol42321-181209-v2-57394.jpg);
}
.items__wrapper {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  margin: 50px 60px;
}
.item {
  display: flex;
  width: 250px;
  height: 500px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.item--div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.item--img {
  width: 100%;
  height: 290px;
  padding: 40px;
  border: 1px solid #000;
}
.item--spec {
  min-height: 100px;
}
.item--brand {
  font-size: 1.5rem;
}
.item--name {
  font-size: 1rem;
}
.item--btn {
  padding: 10px;
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-size: 13px;
}
.item--btn:hover {
  background-color: #ef5501;
}
.cameras img {
  height: 230px;
}
.phones img {
  padding: 10px 30px;
  height: 350px;
}
.laptops {
  height: 80%;
}
.laptops img {
  padding: 30px 20px;
  height: 200px;
}
/* items */

.clicked__item {
  display: grid;
}
.clicked__item--img {
  /* width: 250px;
  height: 350px; */
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-column-end: 3;
  border: 1px solid black;
  padding: 50px;
}

/* Footer Social */

.footer__social {
  display: flex;
  text-align: center;
}

.map {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/footer1.jpg") no-repeat;
  width: 269.8px;
  height: 478.45px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.fa-map-marker {
  margin-top: 239.225px;
  font-size: 50px;
}

.map:hover {
  background: linear-gradient(rgba(232, 248, 5, 0.5), rgba(232, 248, 5, 0.5)),
    url("/img/footer1.jpg") no-repeat;
}

.instagram {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/footer2.jpg") no-repeat;
  width: 269.8px;
  height: 478.45px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.fa-instagram {
  margin-top: 239.225px;
  font-size: 50px;
}

.instagram:hover {
  background: linear-gradient(rgba(245, 139, 18, 0.5), rgba(245, 139, 18, 0.5)),
    url("/img/footer2.jpg") no-repeat;
}

.youtube {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/footer3.jpg") no-repeat;
  width: 269.8px;
  height: 478.45px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.fa-youtube {
  margin-top: 239.225px;
  font-size: 50px;
}

.youtube:hover {
  background: linear-gradient(rgba(245, 11, 11, 0.5), rgba(245, 11, 11, 0.5)),
    url("/img/footer3.jpg") no-repeat;
}

.twitter {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/footer4.jpg") no-repeat;
  width: 269.8px;
  height: 478.45px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.fa-twitter {
  margin-top: 239.225px;
  font-size: 50px;
}

.twitter:hover {
  background: linear-gradient(rgba(24, 101, 245, 0.5), rgba(24, 101, 245, 0.5)),
    url("/img/footer4.jpg") no-repeat;
}

.facebook {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/footer5.jpg") no-repeat;
  width: 269.8px;
  height: 478.45px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.fa-facebook-f {
  margin-top: 239.225px;
  font-size: 50px;
}

.facebook:hover {
  background: linear-gradient(rgba(49, 5, 172, 0.5), rgba(49, 5, 172, 0.5)),
    url("/img/footer5.jpg") no-repeat;
}

/* Footer Bottom */

.footer__bottom {
  background: #231f20;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.columns {
  display: flex;
  font-size: 17px;
  font-weight: bold;
}

.column1,
.column2,
.column3 {
  width: 300px;
  height: 400px;
  text-align: left;
  position: relative;
  top: 15%;
  left: 5%;
}

.column4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 200px;
  max-height: 30px;
  margin-left: calc(30%);
  margin-bottom: calc(50%);
}

.column4 i {
  background: #999999;
  border-radius: 50%;
  color: black;
  font-size: 18px;
  padding: 5px;
  margin-top: calc(80%);
  text-align: center;
}

.column4 i:hover {
  color: red;
}

.copyright {
  position: relative;
  left: 5%;
  font-size: 13px;
}

/* Responsive Design */


@media screen and (max-width: 1200px) and (min-width: 800px){
  .header {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .header__wrapper {
    width: 100%;
  }
  .header__logo {
    width: 40%;
  }

  .menu {
    width: 80%;
    position: absolute;
    top: 20%;
  }

  .menu__item dropdown,
  .menu__item {
    width: 100%;
  }

  .nav {
    width: 60%;
    position: absolute;
    top: 30%;
  }

  .slider {
    width: 100%;
  }

  .slider-wrapper {
    height: 100%;
    width: 100%;
  }

  .slide {
    width: 100%;
  }
  
  .reviews {
    width: 100%;
  }
  
  /* .review-title {} */
  
  .user-wrapper {
    width: 100%;
  }
  
  .user {
    width: 100%;
    grid-column: 1;
    flex-direction: column;
  }
  
  .user2 {
    width: 100%;
    grid-column: 1;
    flex-direction: column;
  }
  
  .user3 {
    width: 100%;
    grid-column: 1;
    flex-direction: column;
  }
  
  .user4 {
    width: 100%;
    grid-column: 1;
    flex-direction: column;
  }
  
  .user-info {
    width: 100%;
  }

  .footer__social {
    flex-direction: column;
  }

  .map {
    width: 100%;
  }
  
  .instagram {
    width: 100%;
  }
  
  .youtube {
    width: 100%;
  }
  
  .twitter {
    width: 100%;
  }
  
  .facebook {
    width: 100%;
  }

  .footer__bottom {
    width: 100%;
  }
  
  .columns {
    width: 100%;
    grid-column: 1;
    flex-direction: column;
  }
  
  .column1,
  .column2,
  .column3 {
    width: 100%;
    height: 100%;
  }
  
  .column4 {
    grid-column: 1;
  }
  
  .copyright {
    width: 100%;
    grid-column: 1;
    position: relative;
    left: 0;
  }
}


@media screen and (max-width: 799px) and (min-width: 320px){
  .header {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .header__wrapper {
    width: 100%;
  }
  .header__logo {
    width: 40%;
  }

  .menu {
    width: 80%;
    position: absolute;
    top: 20%;
  }

  .menu__item dropdown,
  .menu__item {
    width: 100%;
  }

  .nav {
    width: 60%;
    position: absolute;
    top: 30%;
  }

  .slider {
    width: 100%;
  }

  .slider-wrapper {
    height: 100%;
    width: 100%;
  }

  .slide {
    width: 100%;
  }
  
  .reviews {
    width: 100%;
  }
  
  /* .review-title {} */
  
  .user-wrapper {
    width: 100%;
  }
  
  .user {
    width: 100%;
    grid-column: 1;
    flex-direction: column;
  }
  
  .user2 {
    width: 100%;
    grid-column: 1;
    flex-direction: column;
  }
  
  .user3 {
    width: 100%;
    grid-column: 1;
    flex-direction: column;
  }
  
  .user4 {
    width: 100%;
    grid-column: 1;
    flex-direction: column;
  }
  
  .user-info {
    width: 100%;
  }

  .footer__social {
    flex-direction: column;
  }

  .map {
    width: 100%;
  }
  
  .instagram {
    width: 100%;
  }
  
  .youtube {
    width: 100%;
  }
  
  .twitter {
    width: 100%;
  }
  
  .facebook {
    width: 100%;
  }

  .footer__bottom {
    width: 100%;
  }
  
  .columns {
    width: 100%;
    grid-column: 1;
    flex-direction: column;
  }
  
  .column1,
  .column2,
  .column3 {
    width: 100%;
    height: 100%;
  }
  
  .column4 {
    grid-column: 1;
  }
  
  .copyright {
    width: 100%;
    grid-column: 1;
    position: relative;
    left: 0;
  }
}