.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  margin-left: 40px;
  margin-top: 20px;
  cursor: pointer;
}

.menu {
  display: flex;
  margin-left: 15%;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.menuItem {
  padding: 30px;
}

.menuItem:hover {
  text-decoration: underline;
  color: grey;
}

.nav {
  font-size: 35px;
  margin-left: 10%;
}

.nav i {
  padding: 30px;
}

.nav i:hover {
  color: grey;
}

.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 400px;
  overflow: hidden;
  white-space: nowrap;
 }
 
 .slider-parent{
  position: relative;
  margin-top: 20px;
 }

 .slider-wrapper {
  height: 100%;
  width: 100%;
 }
 
 .slide {
  display: inline-block;
  height: 500px;
  width: 100%;
 }
 
 .arrow {
  margin-left: 5%;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
 }
 
 .nextArrow {
  position: absolute;
  top: 50%;
  right: 2%;
  z-index: 999;
  color: black;
  margin-left: 2%;
 
 }
 
 .backArrow {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left:2%;
  z-index: 999;
  color: black;
}

.chat {
  position: sticky;
  top: 0;
  bottom: 0;
  text-align: right;
  cursor: pointer;
}

.chat img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid lightgrey;
}

.reviews {
  background: linear-gradient(rgba(223, 218, 218, 0.5), rgba(218, 209, 209, 0.5));
  width: 100%;
}

.review-title {
  font-size: 30px;
}

.review-title i {
  color: gold;
  padding: 3px;
}

.user-wrapper {
  display: grid;
  margin-top: 30px;
  grid-gap: 30px;
}

.user {
  display: flex;
}

.user2 {
  display: flex;
  grid-column: 2;
}

.user3 {
  display: flex;
  grid-column: 1;
}

.user4 {
  display: flex;
  grid-column: 2;
}

.user-photo {
  width: 200px;
}

.user-photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.user-info {
  font-size: 14px;
  font-weight: bold;
}

.user-review {
  margin-top: 60px;
  text-align: left;
  width: 400px;
}

.user-review i {
  color: gold;
  padding: 2px;
}

.footer {
  display: flex;
}

.map {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/img/footer1.jpg');
  width: 269.8px;
  height: 478.45px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.fa-map-marker {
  margin-top: 239.225px;
  font-size: 50px;
}

.map:hover {
  background: linear-gradient( rgba(232, 248, 5, 0.5), rgba(232, 248, 5, 0.5) ), url('/img/footer1.jpg');
}

.instagram {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/img/footer2.jpg');
  width: 269.8px;
  height: 478.45px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.fa-instagram {
  margin-top: 239.225px;
  font-size: 50px;
}

.instagram:hover {
  background: linear-gradient( rgba(245, 139, 18, 0.5), rgba(245, 139, 18, 0.5) ), url('/img/footer2.jpg'); 
}

.youtube {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/img/footer3.jpg');
  width: 269.8px;
  height: 478.45px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.fa-youtube {
  margin-top: 239.225px;
  font-size: 50px;
}

.youtube:hover {
  background: linear-gradient( rgba(245, 11, 11, 0.5), rgba(245, 11, 11, 0.5) ), url('/img/footer3.jpg');
}

.twitter {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/img/footer4.jpg');
  width: 269.8px;
  height: 478.45px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.fa-twitter {
  margin-top: 239.225px;
  font-size: 50px;
}

.twitter:hover {
  background: linear-gradient( rgba(24, 101, 245, 0.5), rgba(24, 101, 245, 0.5) ), url('/img/footer4.jpg');
}

.facebook {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/img/footer5.jpg');
  width: 269.8px;
  height: 478.45px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.fa-facebook-f {
  margin-top: 239.225px;
  font-size: 50px;
}

.facebook:hover {
  background: linear-gradient( rgba(49, 5, 172, 0.5), rgba(49, 5, 172, 0.5) ), url('/img/footer5.jpg');
}