.history img {
    width: 200px;
    height: 200px;
}

.history__heading {
    text-align: center;
    font-weight: bold;
}

.history {
    width: 90%;
    border: 1px solid silver;
    position: relative;
    left: 5%;
    padding: 20px;
}

.history__saba {
    display: flex;
}

.text__about1 {
    position: relative;
    left: 3%;
    font-size: 20px;
    padding: 20px;
}

.history__dato {
    display: flex;
    flex-direction: row-reverse;
}

.text__about2 {
    position: relative;
    font-size: 20px;
    padding: 20px;
}

.history__mariam {
    display: flex;
}

.text__about3 {
    position: relative;
    left: 3%;
    font-size: 20px;
    padding: 20px;
}

.history__kits {
    display: flex;
    flex-direction: row-reverse;
}

.text__about4 {
    position: relative;
    font-size: 20px;
    padding: 20px;
}